@model SchroniskoWebowka.Models.Pies
@{
    string nowaDataStr = "";
    if (Model.PiesDataUrodzenia != null)
    {
        DateTime staraData = (DateTime)Model.PiesDataUrodzenia;
         nowaDataStr = staraData.ToString("yyyy-MM-dd");
    }
    else{
		 nowaDataStr = "Brak daty";
	}
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            @if (Model.PiesZdjecie != null)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.PiesZdjecie)" alt="@Model.PiesNazwa" class="img-fluid dogimage">
            }
            else
            {
                <p>Brak zdjęcia dla tego psa</p>
            }

        </div>

        <div class="col-md-6"">

            <h2>@Model.PiesNazwa</h2>
            <p>@Model.PiesOpis</p>

            <ul class="list-group mycustomul">
                <li class="list-group-item text-white bg-dark mycustomli"><strong>Rasa:</strong> @Model.Rasa.RasaNazwa</li>
                <li class="list-group-item text-white bg-dark mycustomli"><strong>Wiek:</strong> @Model.Wiek.WiekNazwa</li>
                <li class="list-group-item text-white bg-dark mycustomli"><strong>Charakter:</strong> @Model.Charakter.CharakterNazwa</li>
                <li class="list-group-item text-white bg-dark mycustomli">
                    <strong>Płeć:</strong>
                    @if (Model.PiesCzySuka == true)
                    {
                        <text>Suka</text>
                    }
                    else
                    {
                        <text>Samiec</text>
                    }
                </li>
                <li class="list-group-item text-white bg-dark mycustomli"><strong>Strefa:</strong> @Model.Strefa.StrefaNazwa</li>
                <li class="list-group-item text-white bg-dark mycustomli"><strong>Data przyjęcia:</strong> @nowaDataStr</li>
                <li class="list-group-item text-white bg-dark mycustomli"><strong>Opis sierści:</strong> @Model.PiesKolorWzorSiersci</li>

            </ul>
        </div>
    </div>
</div>
